/* CSS Document */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Css Template Grid*/

    /* I challenged myself to place the simple and complex grids within a CSS template grid. So now, these two grids make
    up the majority of the content on my webpage */


.csstemplategrid {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'nav nav nav nav nav nav'
    'main main main main main main'
    'foot foot foot foot foot foot';
}

/* header */

.header {
    grid-area: header;
    height: 40vh;
    background: linear-gradient(45deg, rgb(23, 111, 212), rgb(236, 68, 68)); 
}

.header h1 {
    font-size: 100px;
    margin-top: 100px;
    margin-left: 20px;
}

/* nav */

.nav {
    grid-area: nav;
    font-size: 22px;
    margin-bottom: 20px; 
    display: grid;
    justify-content: center;
    background: linear-gradient(45deg, rgb(255, 142, 142), rgb(242, 142, 255));
    border-top: solid black 4px;
    border-bottom: solid black 4px;
}

.nav ol {
    margin: 0;
}

.nav ol li {
    display: inline-block;
    margin-right: 50px;
    padding: 10px;   
}

.nav ol li a {
    color: #222;
    text-decoration: none;
}

/* main */

.main {
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 6;
}

.mainintro {
    grid-area: main intro;
    border: 2px solid rgb(23, 111, 212);
    grid-column-start: 2;
    grid-column-end: 6;
    color: white;
    background-color:rgb(23, 111, 212);
}

.mainintro h1 {
    display: grid;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 15px;
    justify-content: center;
}

.mainintro p {
    display: grid;
    justify-content: center;
    margin-top: 0;
    font-size: 18px;
}

    /* Simple grid */

.simplegridcontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    margin: 20px auto;
    width: 70%;
    padding: 5px;
}

.simplegridcontainer div {
    border: 2px solid #222; 
}

.simplegridcontainer img {
    height: 100%;
    width: 100%;
}

.simplegridcontainer div:hover {
    border: 2px solid rgb(32, 100, 168);
}

    /* Complex Grid */

.complexgridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 10px;
    margin: 20px auto;
    width: 70%;
    padding: 5px;
}

.complexgridcontainer div {
    border: solid 2px black;
    overflow: hidden;

}

.complexgridcontainer div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 2;
}

.complexgridcontainer div:nth-child(5) {
    grid-column: span 2;
}

.complexgridcontainer div:nth-child(6) {
    grid-row: span 2;
}

.complexgridcontainer div:nth-child(7) {
    grid-column: span 3;
}

.complexgridcontainer img {
    height: 100%;
    width: 100%;
}

/* Footer and Copyright */

.footer {
    grid-area: foot;
    grid-column-start: 2;
    grid-column-end: 6;
    background-color:rgb(255, 142, 142);
    margin-bottom: 20px;
    padding-left: 20px;
}

.footer h4 {
    color: white;
}